## Log Files
logs/
*.log
yarn.lock
package-lock.json

## Modules
node_modules/

# Miscellaneous
.github/
.gitlab/
.vscode/
test/
private/
coverage/

## NPM Ignore
.DS_Store
.eslintrc
.eslintignore
.gitattributes
.gitignore
.npmrc
.travis.yml
.env
